# Testing Directories

motor/
testing/
weight/
.venv/

# Old files (root directory)

stop.py
speed.txt
main.py.save
.gitignore

# Old files in the functions/ directory

functions/OLD_*.py
functions/test.py
functions/stepper_motor_OLD.py
functions/stepper_motor_OLD_v2.py
functions/limit_switches.py

# Old __pycache__ directory

functions/__pycache__/
